version: '3.7'

services:
  django:
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0:8080
    ports:
        - "8080:8080"
    volumes:
      - ./:/main
