{% extends "base/base.html" %}
{% block content %}


<section id="hero" class="hero d-flex align-items-center">
    <div class="container text-center">
      
            <article class="card-body mx-auto" style="max-width: 400px; margin-top: -15%;">
                <h3 style="font-weight:bold;" class="card-title mt-3 text-center">Login</h3>
                <hr>
                <br>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
        
                <form method="POST"  action="">
                    {% csrf_token %}
                <div class="form-group input-group">
                    <div class="input-group-prepend"></div>
                     <input name="email" class="form-control" style="font-family: 'Nunito', 'sans-serif'" placeholder="email" type="email">
                </div> <!-- form-group// -->
        
                
            
                <div class="form-group input-group">
                    <div class="input-group-prepend"></div>
                    <input name="password" class="form-control" placeholder="password" style="font-family: 'Nunito', 'sans-serif'" type="password">
                </div> <!-- form-group// -->                                     
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn  form-control" style=" color: white; font-weight: bold; background-color: #4154f1; font-family: 'Nunito', 'sans-serif'">Login  </button>
                </div> <!-- form-group// -->  
                <br>    
            </form>
        
        </article>
        
        </div>
    </section>
        
{% endblock %}