{% extends "base/base.html" %}
{% block content %}



<section id="hero" class="hero d-flex align-items-center">
    <div class="container text-center">
        <article class="card-body mx-auto" style="max-width: 400px; margin-top: -15%;"> 
            <h3 style="font-weight:bold;" class="card-title mt-3 text-center">Developer Register Form</h3>
            <hr>
            <br>
    <form action="" method="POST">
       {{form.full_name}}
       <br>
       {{form.company_name}}
       <br>
       {{form.email}}
       <br>
       {{form.password}}
       <br>
       
       <button type="submit" class="btn  form-control" style=" color: white; font-weight: bold; background-color: #4154f1; font-family: 'Nunito', 'sans-serif'">Register  </button>
    </form>
        </article>
    
    </div>
</section>
    {% endblock %}